li {
    margin-bottom: 15px;
}
ul {
    margin-bottom: 50px;
}
span {
    cursor: pointer;
}
.buttons {
    margin-top: 40px;
}
.buttons ul {
    padding: 0px;
}
.buttons li {
    margin: 5px;
    display: inline;
    border: 1px solid black;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}